[Desktop Entry]
Categories=Application;Network
Comment=Browse the World Wide Web
Comment[de]=Browse the World Wide Web
Encoding=UTF-8
Exec=firefox %u
GenericName=Web Browser
GenericName[de]=Web Browser
Icon=/usr/share/pixmaps/firefox.png
MimeType=application/vnd.mozilla.xul+xml;application/xhtml+xml;application/xml;image/gif;image/jpeg;image/png;text/html;text/xml
MultipleArgs=false
Name=Firefox
Name[de]=Firefox
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
