Source: etcskel-sidux
Section: misc
Priority: extra
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5.0.0)
Standards-Version: 3.7.2

Package: etcskel-sidux
Architecture: all
Depends: distro-defaults, su-me, readline-common
Recommends: knx-installer
Description: Skeleton files for all user
 set useful preferences for new users.

Package: user-profile-sidux
Architecture: all
Depends: distro-defaults, su-me
Description: Skeleton files for the Sidux default user
 set useful preferences for new users.
